{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "experimental": {
      "plugins": [
        [
          "swc-plugin-fetch-replace",
          {
            "replaceName": "replace_fetch"
          }
        ]
      ]
    }
  }
}